@model CrudCT.Application.DTOs.ClienteDTO

<h2>Adicionar Cliente</h2>

<form asp-action="Create" method="post">

    <div class="form-horizontal">

        <hr />

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="RazaoSocial" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RazaoSocial" class="form-control" />
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="NomeFantasia" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NomeFantasia" class="form-control" />
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Documento" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Documento" class="form-control" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TipoPessoa" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TipoPessoa" class="form-control" />
                <span asp-validation-for="TipoPessoa" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Endereco" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Complemento" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Complemento" class="form-control" />
                <span asp-validation-for="Complemento" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Bairro" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Cidade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="UF" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UF" class="form-control" />
                <span asp-validation-for="UF" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CEP" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CEP" class="form-control" />
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>
        </div>        


@*         <div class="form-group">
            <label asp-for="TelefoneId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TelefoneId" class="form-control" asp-items="ViewBag.TelefoneId"> </select>
            </div>
*@
        </div> 

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </div>    
</form>
